/* COMMON CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ***************************
*   REUSABLE COMPONENT
******************************/
.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  color: #fff;
  font-size: 240%;
  word-spacing: 4spx;
  margin-bottom: 20px;
}

h2 {
  font-size: 180%;
  text-align: center;
  word-spacing: 2px;
  margin-bottom: 30px;
}
h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  background: #e67e22;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 0px;
}

/* links */

/* icon */
.icon-big {
  font-size: 250%;
  display: block;
  color: #e67e22;
  font-weight: 100;
  margin-bottom: 10px;
}
.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 100%;
  line-height: 100%;
  vertical-align: center;
  margin-top: -5px;
  margin-right: 5px;
}
/* paragraph */
.long-copy {
  line-height: 150%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 85%;
  line-height: 145%;
}

/* buttons */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  border-radius: 200px;
  cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  transition: 0.3s;
  margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
  transition: 0.3s;
}

.btn-ghost:hover {
  color: #fff;
  background: #cf6d17;
}

.btn-full:active,
.btn-full:hover,
input[type="submit"]:hover,
input[type="submit"]:active {
  background: #cf6d17;
  color: #fff;
}

/* buttons end */

/* ***************************
*   HEADER PART CSS
******************************/

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css/img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box h1 {
  margin-bottom: 20px;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
/* main nav */
.main-nav {
  float: right;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0;
}
.main-nav li a:hover {
  border-bottom: 2px solid #e67e22;
}

.active {
  border-bottom: 2px solid #e67e22;
}

/* Mobile nav */
.mobile-navicon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-navicon i {
  font-size: 200%;
  color: #fff;
}

/* sticky nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #555;
  padding: 21px 0;
}

.black-logo {
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}

.sticky .black-logo {
  display: block;
}
.sticky .logo {
  display: none;
}
.sticky .main-nav {
  margin-top: 15px;
}

/* ***************************
*   FEATURES PART CSS
******************************/
.features .long-copy {
  margin-bottom: 30px;
}
.features .icon-big {
  margin-bottom: 15px;
}

/* ***************************
*   MEALS PART CSS
******************************/
.section-meals {
  padding: 0;
}
.meal-showcase {
  width: 100%;
}
.meal-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}
.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
}
.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ***************************
*   HOW IT WORKS PART CSS
******************************/
.section-steps {
  background: #f7f7f7;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}
.works-step {
  margin-bottom: 50px;
}
.works-step:last-of-type {
  margin-bottom: 80px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}
.btn-app:link,
.btn-app:visited {
  border: 0;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

/* ***************************
*   CITIES PART CSS
******************************/
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.city-feature {
  margin-bottom: 5px;
}
.cities-box h3 {
  margin-bottom: 20px;
}
.city-feature a:link,
.city-feature a:visited {
  color: #e67e22;
  padding-bottom: 2px;
  border-bottom: 1px solid #e67e22;
}

.city-feature a:active,
.city-feature a:hover {
  color: #555;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

/* ***************************
*   TESTIMONIAL PART CSS
******************************/
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../css/img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  margin-bottom: 20px;
  margin-top: 40px;
  position: relative;
}
blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}
cite {
  font-size: 90%;
  margin-bottom: 25px;
  display: block;
}
cite img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ***************************
*   PRICING PART CSS
******************************/
.plans {
  background: #f7f7f7;
}
.plan-box {
  background: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:last-child {
  border-bottom: 0;
}
.plan-price-main {
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 300;
  color: #e67e22;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-details ul li {
  padding: 5px 0;
}
.plan-btn {
  text-align: center;
  border: 0;
}

/* ***************************
*   BLOG PART CSS
******************************/
.blog-heading span {
  color: #e67e22;
  font-size: 80%;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 10px;
}

.blog-heading a h3 {
  font-weight: 500;
  color: #555;
}

.blog-content {
  margin-bottom: 20px;
}

.blog-content .read-more {
  margin-left: 10px;
  color: #e67e22;
  text-transform: lowercase;
}

.blog-date span {
  color: #e67e22;
  text-transform: capitalize;
}

/* ***************************
*   FORM PART CSS
******************************/
.form {
  width: 70%;
  margin: 0 auto;
}
#contact {
  background-color: #f7f7f7;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #e67e22;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

textarea {
  height: 100px;
}

/* ***************************
*   FOOTER PART CSS
******************************/
footer {
  background: #333;
  padding: 50px;
}
.footer-nav {
  float: left;
}
.social-links {
  float: right;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a,
.social-links li a {
  color: #888;
  font-size: 90%;
  transition: 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}
.social-links li a {
  font-size: 100%;
}

footer p {
  font-size: 90%;
  margin-top: 20px;
  text-align: center;
  color: #888;
}
